In [3]:
Q1.
#A for loop is best used when we know the number of times we want to execute a block of code.
#It is also used when iterating over a sequence, such as a list or tuple, and when performing a repetitive action a fixed number of times.

In [2]:
#Heres an example:
Names = ["aniket", "shivam", "prashant"]
for i in Names:
    print(i)

aniket
shivam
prashant

In [ ]:
#In this example, the for loop iterates over the names list and prints each item in the list.
#Since we know the length of the list, we can use a for loop.

In [4]:
#A while loop, on the other hand, is best used when you don't know the exact number of times you want to execute a block of code. 
#It is also used when the condition for executing the loop is based on user input or external factors that may change.

In [10]:
count = 0
while count < 5:
    print("Shivam")
    count += 1

Shivam
Shivam
Shivam
Shivam
Shivam

In [ ]:
#In this example, the while loop will continue to execute as long as the count variable is less than 5. 
#Since we don't know how many times the loop will execute, we use a while loop. In this example, the loop will execute 5 times and print "Shivam" each time.

In [ ]:
Q2.
#Using loop:

In [11]:
# Sum of first 10 natural numbers using for loop
sum = 0
for i in range(1, 11):
    sum += i
print("Sum of first 10 natural numbers is: ", sum)

Sum of first 10 natural numbers is:  55

In [12]:
# Product of first 10 natural numbers using for loop
product = 1
for i in range(1, 11):
    product *= i
print("Product of first 10 natural numbers is: ", product)

Product of first 10 natural numbers is:  3628800

In [ ]:
#Using while:

In [13]:
# Sum of first 10 natural numbers using while loop
sum = 0
i = 1
while i <= 10:
    sum += i
    i += 1
print("Sum of first 10 natural numbers is: ", sum)

Sum of first 10 natural numbers is:  55

In [14]:
# Product of first 10 natural numbers using while loop
product = 1
i = 1
while i <= 10:
    product *= i
    i += 1
print("Product of first 10 natural numbers is: ", product)

Product of first 10 natural numbers is:  3628800

In [16]:
#Q3.
# take user input for units consumed
units_consumed = int(input("Enter the units of electricity consumed: "))

# initialize variables for the total bill and the units used in each rate tier
total_bill = 0
units_1 = 0
units_2 = 0
units_3 = 0
units_4 = 0

# calculate bill for  1 (first 100 units)
if units_consumed <= 100:
    units_1 = units_consumed
    total_bill += units_1 * 4.5
else:
    units_1 = 100
    total_bill += units_1 * 4.5

    # calculate bill for  2 (next 100 units)
    if units_consumed <= 200:
        units_2 = units_consumed - units_1
        total_bill += units_2 * 6
    else:
        units_2 = 100
        total_bill += units_2 * 6

        # calculate bill for  3 (next 100 units)
        if units_consumed <= 300:
            units_3 = units_consumed - units_1 - units_2
            total_bill += units_3 * 10
        else:
            units_3 = 100
            total_bill += units_3 * 10

            # calculate bill for  4 (above 300 units)
            units_4 = units_consumed - units_1 - units_2 - units_3
            total_bill += units_4 * 20

# print the total bill
print("Total electricity bill: Rs.", total_bill)

Enter the units of electricity consumed:  310

Total electricity bill: Rs. 2250.0

In [ ]:
Q4.
#Using loop:

In [17]:
cubes = []
for num in range(1, 101):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(num)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
#Using while

In [18]:
cubes = []
num = 1
while num <= 100:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(num)
    num += 1
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [19]:
#Q5.
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0
filtered_string = ""

for char in string:
    if char in vowels:
        count += 1
        filtered_string += char

print("Vowels found:", count)
print("Filtered string:", filtered_string)

Vowels found: 12
Filtered string: Iaoeoeaaaiei